@import 'colors';
h2{
	margin-top: 30px;
	margin-bottom: 20px;
}
.cont-play{
	height: calc(100vh - 200px);
	padding-bottom: 30px;
}
.players{
	padding: 15px;
	p{
		margin-bottom: 0px;		
		display: inline-block;
		margin-right: 30px;
		margin-top: 15px;
		&.player1{
			color: $blue;
		}
		&.player2{
			color: $red;
		}
	}
}
.game{
	height: 100%;
}
#playarea{
	height: 390px;
	width: 390px;
	.field{
		border: 1px solid $border-color;
		height: 130px;
		display: flex;
		cursor: pointer;
		p{
			margin-bottom: 0px;
			text-align: center;
			width: 100%;
			font-weight: 700;
			-ms-flex-item-align: center!important;
			align-self: center!important;
			font-size: 4rem;
			text-transform: uppercase;
		}
		&.checked{
			background-color: $green;
		}
	}
}
#sidebar{
	text-align: center;
	aside{
		width: 100%;
	}
	h3{
		text-transform: uppercase;
		margin-bottom: 30px;
		margin-top: 0px;
	}
	p{
		margin-bottom: 0px;
	}
	.result{
		padding: 20px;
		border-bottom: 1px solid $border-color;
	}
}
.pagination{
	strong, a{
		color: $text-color;
		margin: 10px;
		border-radius: 20px;
		padding: 3px 10px;
	}
	strong{
		color: $white;
		background-color: $text-color;
	}
}

@media (max-width: 400px) {
	#playarea{
		height: 300px;
		width: 300px;
		.field{
			height: 100px;
		}
	}
	.players{
		padding-bottom: 5px;
		padding-top: 0px;
		p{
			margin-right: 0px;
			margin-top: 15px;
			&.player2{
				float: right;
			}
		}
	}	
}
